body{
    background-image: url(../imagens/fundo-site.jpg) ;
    background-repeat: no-repeat; /*nao repitir*/
    background-size: cover;
    background-position: center; /*centraliza*/

    font-family: 'VT323', monospace; /*fonte das letras*/
    color: #f3f3f3; /*cor das letras*/
    font-size: 18px; /*tamanho*/
    display: flex; 
    justify-content: center;/*centraliza horizontalmente*/
    align-items:center ; /*centraliza verdicalmente*/
    min-height: 100vh;/*define a altura da janela quando se move*/
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px; /*arredonda a borda*/
    overflow: hidden;
}

.abas img{ 
    width: 30px; /*deixo os gif pequeno*/

}
.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /*alinha no centro o texto horizontalmente por causa do flex direction column*/
    gap: 10px;
}
.cartao .minhas-informacoes img{
    border-radius: 50px;
    border: 4px solid #02d08f;
    width: 96px; /*muda o tamanho da ft de perfil*/
    height: 96px;/*muda o tamanho da ft de perfil*/
}
.cartao .minhas-informacoes .nome{
    font-size: 26px
}
.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b6bbc5;
}
.cartao .conteudo{
    margin-top: 15px;

}
.cartao .abas{
    display: flex;
}
.cartao .abas .aba{
    width: 50%; /*largura e alinha os gif meio a meio*/
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.
    2s ease-in-out;
}
.cartao .abas img{
    width: 30px;
}
.cartao .abas .aba.selecionado{
    background-color: #262626;
}
.cartao .informacoes-abas{
    background-color: #262626;
}
.cartao .abas .aba:hover{
    background-color: #414141;/*passa por cima dos botao a cor*/

}
.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px; 
    display: none;
}
.informacoes-abas .informacao.selecionado{
    display: block;
}
.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}
.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}
.informacoes-abas .descricao span{
    color: #02d08f;
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}
.redes-sociais li a{
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px; 
    transition: opacity 0.3s
    ease-in-out; 
}
.redes-sociais li a:hover{
    opacity: 0.8;
}
.redes-sociais .curriculo{
    background-color: #06c185;
}
.redes-sociais .linkedin{
    background-color: #1d87bd;
}
.redes-sociais .insta{
    background-color: #545454;
}
.redes-sociais .github{
    background-color: #04315f;
}